<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>更多</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/Home/__CSS__/index.css"/>
    </head>
    <body>
        <div>更多（内容待填充）</div>
        <div class="header">
    <div class="nav">
        <ul>
         <li> <a href="{:U('Index')}">主页</a></li>
          <li><a href="{:U('Index/log')}">日志</a></li>
          <li><a href="{:U('Index/photo')}">相册</a></li>
          <li><a href="{:U('Index/message')}">留言板</a></li>
          <li><a href="{:U('Index/talk')}">说说</a></li>
          <li><a href="{:U('Index/personal')}">个人档</a></li>
          <li><a href="{:U('Index/music')}">音乐</a></li>
          <li><a href="{:U('Index/more')}">更多</a></li>
        </ul>
    </div>
</div>
    </body>
</html>
