/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-9-26, 12:26:03
    Author     : Administrator
*/
@charset "utf-8";
/*全局配置*/
*{margin:0; padding:0px;}/*去边框*/
body{font-size:14px;font-family:"微软雅黑";background:#E3E3E5 url(../img/bg001.jpg)  50% top scroll no-repeat;color:#5d5d5d;}
a{text-decoration:none;}/*取消超链接下划线*/
.left{float:left;}/*左浮动*/
.right{float:right;}
.clear{clear:both;}/*清除浮动*/
ul li{list-style:none;}/*去列表标签*/
img{display:block;border:0px;}/*去图片边框*/

/*标题导航栏*/
.header{width:1000px;margin:0 auto;}
.nav{width:1000px;margin:20px auto; }
.nav ul li{width:120px;height:30px;line-height:30px;float:left;text-align:center;margin:0px 2px 0px 0px;}
.nav ul li a{color:#090713;font-size:16px;width:140px;height:30px;display:block;}
.nav ul li a:hover{display:block;width:120px;height:30px;background:#829696;border-radius:3px;color:#fff;}
/*导航栏结束*/